table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.form1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form2 {
    display: grid;
    justify-items: stretch;
    align-items: center;
}